{
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": 1,
        "indent": ["warn", 4],
        "space-before-blocks": ["warn", "always"]
    }
}
