{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": 1,
        "indent": ["error", 4],
        "space-before-blocks": ["error", "always"]
    }
}